<%= link_to '........ Sola 34 .....   ', root_path %>
<li></li>
<%= link_to 'Home', root_path %>
<%= link_to 'About Us', home_about_path %>


<div class="jumbotron">
     <%= link_to 'Home',root_path,class:'btn btn-primary btn-lg'%>
     <%= link_to 'About Us',home_about_path, class:'btn btn-default btn-lg'%>
 </div>
 